@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --padding-padrao: 1rem;
    --transition: .2s ease;

    --font-title: 'Poppins', sans-serif;
    --font-text: 'Inter', sans-serif;

    --borda-botoes:999rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.logo-link{
    display: block;
    background-image: url('../imagens/logoAprenser.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 5rem;
    height: 3rem;
   
}
body{
    min-height: 100vh;
    font-family: var(--font-text);

}

.header-class{
    width: 100%;
    background-color: rgb(39, 38, 38);
    padding: var(--padding-padrao);
    
}

.header-inter{
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.produtos-nav{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    flex-wrap: wrap;
}
.produtos-nav a{
    text-decoration: none;
    color: rgb(243, 172, 41);
    border: solid 2px orange;
    padding: 0.5em;
    border-radius: 0.5rem;
    transition: var(--transition);
}
.produtos-nav a:hover,
.produtos-nav a:focus-visible {
        background-color: rgba(243, 172, 41, .12);
        border-color: rgb(243, 172, 41);
        color: rgb(230, 228, 228);
}

.conteudo-principal{
    height: 100vh;
}

.hero-banner{
    height: 60%;
    width: 100%;
     background-image:
        url("../imagens/HeroImage.png"),
        linear-gradient(
            to bottom,
            #fff 0%,
            #fff 18%,
            #fff9b0 55%,
            #fff229 100%
        );
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center;
    background-size: contain, cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-banner h1{
    width: 12ch;
    font-family: var(--font-text);
    line-height: 1.5;
    margin-left: 1.5rem;
}

.area-cursos{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    flex-direction: column;
   
}
.title-cursos{
    margin-bottom: 2rem;
    padding: 1rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .18);
}
.lista-cursos {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 90%;
    padding: 1rem;
    min-height: 20rem;
    background-color: blue;
}


.produto-curso {
    padding: 1rem;
    width: 12rem;
    outline: 1px solid red;
}