@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --padding-padrao: 1rem;
    --transition: .2s ease;

    --font-title: 'Poppins', sans-serif;
    --font-text: 'Inter', sans-serif;

    --borda-botoes:999rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.logo-link{
    width: 7rem;
    display: block;
}
.logo-link img{
    display: block;
    width: 100%;
    height: auto;
   
}
body{
    min-height: 100vh;
    font-family: var(--font-text);

}

.header-class{
    width: 100%;
    background-color: rgb(39, 38, 38);
    padding: var(--padding-padrao);
    
}

.header-inter{
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.produtos-nav{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    flex-wrap: wrap;
}
.produtos-nav a{
    text-decoration: none;
    color: rgb(243, 172, 41);
    border: solid 2px orange;
    padding: 0.5em;
    border-radius: 0.5rem;
    transition: var(--transition);
}
.produtos-nav a:hover,
.produtos-nav a:focus-visible {
        background-color: rgba(243, 172, 41, .12);
        border-color: rgb(243, 172, 41);
        color: rgb(230, 228, 228);
}


.hero-banner{
    min-height: 60vh;
    width: 100%;
     background-image:
        url("../imagens/HeroImage.png"),
        linear-gradient(
            to bottom,
            #fff 0%,
            #fff 18%,
            #fff9b0 55%,
            #fff229 100%
        );
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center;
    background-size: contain, cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.hero-banner h1{
    width: 12ch;
    font-family: var(--font-text);
    line-height: 1.5;
    margin-left: 2.5rem;
}

.area-cursos{
    min-height: 60vh;
    width: 100%;
    max-width: 100rem;
    display: flex;
    align-items: center;
    margin-inline: auto;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}
.title-cursos{
    margin: 2rem 0rem 1.5rem 0rem;
    padding: 1rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .18);
    font-family: var(--font-text);
    font-size: 2.5rem;
}
.lista-cursos {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    min-height: 15rem;
    flex-wrap: wrap;
}
.produto-curso {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f4f0f0;
    flex: 1 1 16rem;
    max-width: 16rem;
    border-radius: 1rem;
    transition: var(--transition),
    box-shadow var(--transition);
}
.conteudo-curso{
    padding: 1.2rem;
    font-size: 1rem;
   
    
}
.titulo-item-curso{
   padding: 0.5rem;
}
.produto-curso:hover{
    background-color: #e3dede;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .12);
    transform: translateY(-4px)

}
.img-curso {
    width: 100%;
    display: block;
}

.btn-cta{
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: #fff229;
    padding: 1em;
    margin-top: 1rem;
    border-radius: 1.2rem;
    transition: var(--transition);
}
.btn-cta:hover{
    transform: scale(1.03);
    background-color: #ffb800;
    
}

.quem-somos {
    min-height: 35rem;
    display: flex;
    align-items: center; 
}

.nossa-escola {
    width: 100%;
    min-height: 25rem;
    background-color: #0b3b6b;
    color: white;
    
}

.area-imagem {
    flex: 1;
    background-image: url("../imagens/nossa-escola.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}

.nossa-escola-inter {
    width: 100%;
    max-width: 75rem;
    min-height: 25rem;
    margin-inline: auto;
    display: flex;

}

.conteudo-escola {
    flex: 1;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}


.conteudo-nossa-escola {
    max-width: 45ch;
}

.contatos {
    padding: 2rem 1.5rem;
}

.title-contatos {
    text-align: center;
    margin-bottom: 3rem;
}

.conteudo-contatos {
    width: 100%;
    max-width: 75rem;
    margin-inline: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.imagem-mapa {
    flex: 2;
    width: 70%;
}

.texto-contato {
    flex: 1;
   align-self: flex-end;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rodape-pagina{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    padding: 1rem;
    background-color: rgb(55, 53, 53);
    color: white;
}